body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    color: #c9d1d9;
}

header {
    background: url('devops.png') no-repeat center center/contain; /* Adjust background size to contain */
    padding: 80px 0; /* Increased padding for better display */
    text-align: center;
    color: #fff;
    background-position: center center;
    background-size: cover; /* Keeps the background image scaling properly */
}

h1 {
    font-size: 36px; /* Larger font size for better visibility */
    font-weight: 600; /* Slightly bolder */
    color: #ffffff; /* White color to stand out */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added shadow to enhance text visibility on light background */
}

p {
    color: #8b949e;
    font-size: 18px; /* Slightly larger for better readability */
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #58a6ff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 500; /* Slightly bolder for visibility */
}

.social-links a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(88, 166, 255, 0.2);
}

.employment-history {
    width: 80%;
    margin: 20px auto;
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(88, 166, 255, 0.2);
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid #58a6ff;
    padding-bottom: 5px;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background: #21262d;
    padding: 15px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 2px 2px 10px rgba(88, 166, 255, 0.2);
    text-align: center;
}
